<!-- début de la partie footer -->
<div class="footer">
  <div class="footer-border">
  </div>
  <div class="footer-nav">
    <ul>
      <p>Produit</p>
      <li>Fonctionnalités</li>
      <li>Guide</li>
      <li>Tarifs</li>
    </ul>
    <ul>
      <p>A propos de nous</p>
      <li>adresse</li>
      <li>blog</li>
      <li>Service client</li>
    </ul>
    <div class="langue">
        <i class="fas fa-globe-africa"></i>
        <ul>
          <li class="active">Langue</li>
          <li>Fr</li>
          <li>Ar</li>
          <li>En</li>
        </ul>
      </div>
  </div>
</div>
<!-- fin de la partie footer-->
