<!-- début de l'entete du site  -->
<div class="header">
  <div class="ui stackable menu">
    <div class="item">
      <a href="{% url 'bookili:accueil' %}">Accueil</a>
    </div>
      <a href="{% url 'bookili:features' %}"class="item">Fonctionnalités</a>
      <a href="{% url 'bookili:tarifs' %}"class="item">Tarifs</a>
      {% if user.is_authenticated %}
      <a href="{% url 'bookili:Profile' %}" class="item" id="username">{{user.username}}</a>
      <a href="{% url 'bookili:deconnexion' %}"class="item" id="logout">Deconnexion</a>
      {% else %}
      <a href="{% url 'bookili:inscription' %}"class="item">S'inscrire</a>
      <div class="type-compte">
        <a href="{% url 'bookili:accueil' %}"class="item" id="login">Se connecter</a>
          <ul class="ui raised very padded text container segment">
            <li class="type"><a href="{% url 'bookili:connexion' %}">Proprietaire</a></li>
            <li class="type"><a href="{% url 'bookili:ConnexionClient' %}">Client</a></li>
          </ul>
      </div>
      {% endif %}
    <div class="ui category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Recherche...">
        <i class="search link icon"></i>
      </div>
   </div>
  </div>
</div>
