{% extends "pages/base.html" %}
{% block content %}
  <div class="ui raised very padded text container segment">
    <form class="ui fluid form" method="post" action=".">
      {% csrf_token %}
      <h2 style="text-align:center;margin-bottom:1.5em;">Client</h2>
      <div class="ui field">Email
        {{form.email}}
      </div>
      <div class="ui divided "></div>
      <div class="ui field">Mot de passe
        {{form.mot_de_passe_client}}
      </div>
      <input class="ui submit button blue" type="submit" name="valider" value="valider">
      <a href="{% url 'bookili:InscriptionClient' %}">inscrivez vous</a></p>
    </form>
  </div>
{% endblock %}
