{% extends "pages/base.html" %}
{% block content %}
<div class="allusers">
  <div class="ui items">
    {% for a in all %}
    <div class="item">
      <div class="middle aligned content">
        <div class="header">
          {{a.idstaff}}#  {{a.nom_staff}} {{a.prenom_staff}}
        </div>
        <div class="description">
          <p>type de la structure proposée est :{{a.structure_idstructure}} et appartienne a :{{a.userpropr_id}}</p>
        </div>
        <div class="extra">
          <div class="ui right floated button">
            choisir
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
